# The transport for the MCP server - either 'sse' or 'stdio' (defaults to SSE if left empty)
TRANSPORT=

# Host to bind to if using sse as the transport (leave empty if using stdio)
HOST=

# Port to listen on if using sse as the transport (leave empty if using stdio)
PORT=

# Mem0 Cloud API key
MEM0_API_KEY=

# Base URL for Mem0 Cloud (optional)
MEM0_BASE_URL=

# Optional default user ID if not provided by the client
DEFAULT_USER_ID=

